        #pageshare {
                    position:fixed;
                    bottom:50%;
                    left:10px;
                    float:left;
                    border-radius:5px;
                    -moz-border-radius:5px;
                    -webkit-border-radius:5px;
                    background-color:#AEAEAE;
                    padding:5px 5px 5px 5px;
                    z-index:1;
        }
        #pageshare .sbutton {float:right;clear:both;margin:5px 5px 5px 5px;}
#pageshare .sbutton :hover{
	transform:rotate(60deg);
	-ms-transform:rotate(60deg)
	-moz-transform:rotate(60deg);
	-webkit-transform:rotate(60deg);
	-o-transform:rotate(60deg);}
	